
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout2022.cshtml";
}
<br />
<br />
<br />
<div class="container" id="content">
    <h4 style="text-align: center; text-transform: uppercase">@Model.TenT</h4>
    <br />
    @Html.Raw(Model.ND)
    @if (Model.F != null)
    {
        <input id="pageCount" hidden="hidden" value="@ViewBag.pageCount" />
        <embed id="myFrame" onload="resizeIframe(this)" src="~/img/ckeditor/Files/@Model.F" style="width: 100%" />
        @*<iframe id="myFrame" onload="resizeIframe(this)" class="embed-responsive-item" src="/readfile/viewer.html?file=/img/ckeditor/Files/@Model.F" style="width:100%;" allowfullscreen webkitallowfullscreen></iframe>*@
    }
</div>
<script>
    $(document).ready(function () {
        $('#content img').removeAttr('style');
        $('#content img').addClass('img-center');
        $('#content img').addClass('img-responsive');
        $('#content img').addClass('img-fluid');
    })
</script>


<script src="~/Scripts/home2019/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    function resizeIframe(obj) {
        var pageCount = $('#pageCount').val();
        console.log(pageCount);
        if (pageCount == 0) {
            pageCount = 1;
        }
        obj.style.height = pageCount * 1450 + "px";
    }
</script>