
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

header #logo {
    /*height: 130px;
    background-image: url(../img/LOGO-CHU-NEW.png);
    background-repeat: no-repeat;
    width: 500px;*/
    height: 100px;
    position: absolute;
    top: 0;
    /*left: 0;*/
    z-index: 1000;
}

header #anhbaner {
    height: 100px;
    background-image: url(../../img/anhbaner-TOCHUC.png);
    background-repeat: no-repeat;
    width: 600px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

header {
    background-color: #0A8CD7;
    height: 100px;
}

    header .container {
        position: relative;
    }

.padding-top-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
}

.list-group-item:first-child {
    border-top: none;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}

.list-group-item {
    border-left: none;
    border-right: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-group-item:last-child {
    border-bottom: none;
}

.kobo {
    border: 0 !important;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    padding-top: 13px;
    padding-bottom: 13px;
}

.khoimau {
    height: 100px;
    line-height: 100px !important;
    text-align: center;
}

    .khoimau a {
        color: white;
        width: inherit;
        height: inherit;
        display: block;
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 700
        /*font-family: SEGOEUIL;*/
        /*font-weight: 100;*/
    }

        .khoimau a:hover {
            text-decoration: none;
        }

.bg-do a:hover {
    background-color: #A5615A;
}

.bg-xanhdam a:hover {
    background-color: #009ACD;
}

.bg-DarkGreen a:hover {
    background-color: MediumSeaGreen;
}

.bg-tim a:hover {
    background-color: #8A2BE2;
}

.bg-cam a:hover {
    background-color: #cd854e;
}

.bg-nau a:hover {
    background-color: #a1a66a;
}

.bg-xanhdam {
    background-color: #106470;
}

.bg-DarkGreen {
    background-color: DarkGreen;
}

.bg-do {
    background-color: #8f3931;
}

.bg-tim {
    background-color: Purple;
}

.bg-cam {
    background-color: #c16622;
}

.bg-nau {
    background-color: #8A9045;
}

.bg-dc3545 {
    background-color: #dc3545;
}

.bg-7aa734 {
    background-color: #7aa734;
}


/*List*/
/* Default mode */
.tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
    display: block;
}

    .tabbable-line > .nav-tabs > li {
        margin-right: 2px;
        padding-left: 10px;
        padding-right: 10px;
    }

        .tabbable-line > .nav-tabs > li > a {
            border: 0;
            margin-right: 0;
            color: #737373;
            font-size: 16px;
        }

        .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
            border-bottom: 4px solid #0a8cd7;
        }

            .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
                border: 0;
                background: none !important;
                color: #333333;
            }


        .tabbable-line > .nav-tabs > li > .active {
            border-bottom: 4px solid #0a8cd7;
            position: relative;
            color: #333333;
            font-weight: 700;
        }


.tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
    padding-top: 25px;
}

.portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
    border-top: 4px solid transparent;
}

    .tabbable-line.tabs-below > .nav-tabs > li > a {
        margin-top: 0;
    }

    .tabbable-line.tabs-below > .nav-tabs > li:hover {
        border-bottom: 0;
        border-top: 4px solid #0a8cd7;
    }

    .tabbable-line.tabs-below > .nav-tabs > li.active {
        margin-bottom: -2px;
        border-bottom: 0;
        border-top: 4px solid #0a8cd7;
    }

.tabbable-line.tabs-below > .tab-content {
    margin-top: -10px;
    border-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.nav-tabs > li, .nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.nav-tabs, .nav-pills {
    text-align: center;
}

/*end list*/

footer {
    background: #3c3c3c;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media (max-width: 768px) {
    .badge.badge-primary.badge-pill{
        display: none !important;
    }
}
