/*<link rel="stylesheet" type="text/css" href="/content/about.css">*/
.aboutus .text-center > p {
    text-align: left;
}

.aboutus .text-center > .small {
    text-align: center;
    font-size: 1.1em;
}

.aboutus .text-center > img {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.aboutus {
    margin-top: 50px;
}
