<header>
    <div class="container">
        <div id="logo">
            <a href="/" class="the-a-full"> <img style="height: 100px;" class="img-fluid" src="~/img/LOGO-CHU-NEW.png" /></a>
            
        </div>
        <div id="anhbaner">
        </div>
    </div>
</header>
