<div class="tieudenho">Thống kê truy cập</div>
<div class="panel panel-default">
    <div class="panel-body">
        <p><i class="fa fa-users"></i>&nbsp;Đang truy cập: @HttpContext.Current.Application["online"].ToString()</p>
        <p><i class="glyphicon glyphicon-stats"></i>&nbsp;Tất cả: @HttpContext.Current.Application["visited"].ToString()</p>
    </div>
</div>

